<div class="border">
  <h1>Welcome to YumYum Restaurant Finder!</h1>
  <div class="miniBorder">
  <div class="buttonContain">
  <p class="hypbutton">@Html.ActionLink("See all the Restaurants!", "Index", "Restaurant")</p>
  <br>
  <p class="hypbutton">@Html.ActionLink("View food by type", "Index", "Restaurant")</p>
</div>
</div>
</div>