@using BestRestaurants.Models;

<div class="border">
<h1>Restaurants!</h1>

@if(@Model.Count == 0)
{
  <p>No Restaurants added.</p>
}

<div class="miniBorder">
<ul >
  @foreach (Restaurant restaurant in Model)
  {<div class="buttonContain">
    <p>@Html.ActionLink($"{restaurant.Name}", "Show", new { id = restaurant.RestaurantId })</p>
    </div>
  }
</ul>
</div>


<p class="hypbutton">@Html.ActionLink("Add a new restaurant", "Create", "Restaurant")</p>
<p class="hypbutton">@Html.ActionLink("Go Home", "Index", "Home")</p>
</div>